<div>
  <h1>Categories</h1>
  <%= render partial: 'categories/categories',
    locals: { categories:  @categories }%>
</div>

<div>
  <h1>Items</h1>
  <%= render partial: 'items/items',
    locals: { items:  @items }%>
</div>
